/* Configuration de base pour nos pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body img{
    max-width: 100%;
}
/* header */
body header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: white;
    padding: 0 20px;
}
body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
body header nav a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: 0.2s;
}
body header nav a:hover{
    color: yellowgreen;
}
body header h1{
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 2.2rem;
}
/* Footer */
footer{
    margin-top: 5px;
    height: 10vh;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}